p {
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.icones {
	padding-left: 5px;
}

.titulosBrancos {
	text-decoration: underline;
	text-underline-position: under;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: black;
}

.titulosVerdes {
	text-decoration: underline;
	text-underline-position: under;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: #000000;
}

.paragrafoBrancos {
	color: white !important;
}


.jumbotron {
	margin-bottom: 0px;
}

html {
	scroll-behavior: smooth;
}

p {
	color: black !important;
}

.corPrimaria {
	background-color:#DCDCDC;
}

.itemMenu {
	color: white;
}
.Justificado{
	text-align: justify;
    text-align-last: center;
}

div.figure {
	display: inline;
  }
  img.scaled {
	width: 200px;
	height: 180px;
	display: inline;
	
  }

  botao{
	background-color: rgb(88, 231, 21)
  }

.botaoHelp{
    display: block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    padding: 10px 5px;
    margin: 20px;
    background-color: #000;
    color: #FFF;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
}

.btn
{

	background-color:#7fe082;
	color: white;
	border-radius: 50px;
	padding: 10px;
	margin: 10px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
.lbox {
    visibility: hidden;
    opacity: 0;
}
ul {
    width: 800px;
    list-style: none;
    display: flex;
    margin: 100px auto;
}
.min {
    width: 200px;
    padding: 10px;
}
.lbox:target {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    text-align: center;
    background-color: rgba(10,10,10,0.7);
}
.box-img {
    width: 1000px;
    margin: 150px auto;
}
.btn {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}
#prev {
    left: 5%;
    top: 45%;
}
#next {
    right: 5%;
    top: 45%;
}
#close {
    top: 0;
    right: 2px;
}
.box-img img {
    opacity: 0;
}

.lbox:target .box-img img {
    opacity: 1;
    transition: opacity 250ms linear;    
}



















